*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    display: flex;
    margin:80px 10px;
}
a{
    text-decoration: none;
    color: blue;
}
#navbar{
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgb(251, 251, 251);
}
.center{
    display: flex;
    gap: 10px;
}
.mylogo1{
    width: 40px;
}
.myname{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-size: 20px;
    gap: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    border-radius: 8px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    /* position: fixed;
    z-index: 1; */
    padding: 20px;
    /* background-color: aqua; */
}
nav .left ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* margin-left: 10px; */
}
ul li{
    list-style-type: none;
    
}
ul .navbar{
    font-size: 20px;
    
}
ul li a{
    text-decoration: none;
    margin: 10px;
}
aside{   
    flex: 0 0 20vw;
    display: block;
}
main{
    display: flex;

}

/* .login_signup{
    display: flex;
    border: 5px soild black;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
}

.login a{
    text-decoration: none;
    border: 5px soild black;
}
.sign_up a{
    text-decoration: none;
} */
 .loginsignup{
    display: flex;
    /* margin-left: 10px; */
    /* border: 1px solid black; */
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;

 }
 .loginsignup a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
 }
 .login{
    padding: 0px 25px;
    border-right: 2px solid black;
 }
.portfolio{
    display: flex;
    flex-direction: column;
    /* background: #e8dada; */
}
.portfolio {
    display: flex;
    flex-direction: column;

}
.para{
    font-size: 20px;
}
.port{
   position: relative;
}
.port img{
    width: 30vw;
    height: 80vh;
    padding: 10px;    
    border-radius: 10px;
    float: left;
}
.port .para{
    float: right;
}
.box{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(42, 42, 42);
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(176, 101, 246, 0.734);
}
.box .img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    
}
.box img{
    min-width: 200px;
    height: 200px;
}
.myinterest{
    display: flex;
    margin: 5px;

    /* flex-wrap: wrap; */
}
.box .read{
    padding: 10px;
}
.box .des{
    padding: 10px;
}

h2{
    font-size: 30px;
    padding: 10px 5px;
}
footer{
   background-color: rgba(135, 207, 235, 0.59);
   text-align: center;
   padding: 20px;
   width: 100%;
   font-size: 15px;
}
h3{
    font-size: 30px;
    padding: 0px 10px;
}
.edulife{
    display: flex;
    margin: 5px;
}
.school{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(42, 42, 42);
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(176, 101, 246, 0.734);
}
.school .img{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 3px;   
}
.school h4{
    padding: 8px 20px;
}
.school .description{
    padding: 0px 10px;
}
.school .readmore{
    padding: 0px 10px;    
}
.school .readmore a{
    text-decoration: none;
    color: blue;
}
.clg{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(42, 42, 42);
    margin-bottom: 5px;
    margin-left: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(176, 101, 246, 0.734);
    
}
.clg .readmore{
    padding: 0px 10px;
    
}
.clg .readmore a{
    text-decoration: none;
    color: blue;
}
.clg h4{
    padding: 8px 20px;
}
.clg .description{
    padding: 0px 10px;
}
.clg .img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 0px;
    max-width: 500px;  
} 
#Contactus{
    background-color: rgba(196, 140, 248, 0.485);
    padding: 20px;
    /* text-align: right; */
    margin: 20px;
    border-radius: 10px;
    
}
input{
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}
input[type="submit"]{
    background-color: rgb(11, 222, 11);
    color: aliceblue;
    font-size: 17px;
}

textarea{
    margin: 0px 10px;
    border-radius: 10px;
}
#contact{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

